@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');

.header{
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Kanit', sans-serif;
}
.navHome{
  margin-top: 5px;
  text-align:right;
  font-family: 'Kanit', sans-serif;
  margin-right:50px;
}
.navMessage{
  text-align: center;
  margin-top: 120px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
}

.textHead {
  color: rgb(0, 9, 92); /*การกำหนดสีของข้อความ*/
  font-size: 50px; /*การกำหนดขนาดข้อความ*/
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  margin-top: 100px; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  margin-bottom: 30px; /*การกำหนดระยะห่างระหว่างขอบด้านล่าง*/
  font-family: 'Kodchasan', sans-serif;  /*การกำหนดรูปแบบข้อความ*/

}
.textDistancing{
  text-align: center ; /*การจัดข้อความไว้กึ่งกลาง*/
  font-size: 16px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Kanit', sans-serif ; /*การกำหนดรูปแบบข้อความ*/
}
.textHeadRegister{
  font-size: 50px;  /*การกำหนดขนาดข้อความ*/
  margin-top: 100px; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  font-family: 'Kodchasan', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.ip1 {
  width: 400px; /*การกำหนดความกว้าง*/
  margin-top: 10px; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  margin-bottom: 10px; /*การกำหนดระยะห่างระหว่างขอบด้านล่าง*/
  font-size: 20px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Oswald', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.btRegister{
  background-color:  #2ec4b6; /*การกำหนดสีพื้นหลัง*/
  margin-top: 30px !important; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  width: 400px !important; /*การกำหนดความกว้าง*/
  height: 40px !important; /*การกำหนดความสูง*/ 
  border: none; /*การกำหนดเส้น*/
  color: rgb(0, 0, 0); /*การกำหนดสีตัวอักษร*/
  font-size: 20px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Kanit', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.btRegister2{
  background-color: #2ec4b6; /*กำหนดสีพื้นหลัง*/
  margin-top: 20px !important; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  width: 400px !important;  /*การกำหนดความกว้าง*/
  height: 40px !important;  /*การกำหนดความสูง*/
  border: none; /*กำหนดรูปแบบเส้น*/
  color: rgb(0, 0, 0); /*กำหนดสีตัวอักษร*/
  font-size: 20px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Kanit', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.btlogin{
  color: rgb(0, 0, 0); /*การกำหนดสีตัวอักษร*/
  background-color: #90e0ef; /*การกำหนดสีพื้นหลัง*/
  margin-top: 20px !important; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  width: 400px !important;/*การกำหนดความกว้าง*/
  height: 40px !important;/*การกำหนดความสูง*/
  border: #90e0ef; /*การกำหนดสีของเส้น*/
  font-size: 20px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Kanit', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.btloginAdmin{
  color: rgb(0, 0, 0); /*การกำหนดสีตัวอักษร*/
  background-color: #ffd60a; /*การกำหนดสีพื้นหลัง*/
  margin-top: 20px !important; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  width: 400px !important; /*การกำหนดความกว้าง*/
  height: 40px !important; /*การกำหนดความสูง*/
  border: #90e0ef;
  font-size: 20px; /*การกำหนดขนาดข้อความ*/
  font-family: 'Kanit', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.btloginNav{
  color: rgb(0, 0, 0);
  background-color: #90e0ef;
  margin-top: 20px !important;
  width: 100px !important;
  height: 20px !important;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}
.textRememberMe{
  padding-right: 270px; /*การกำหนดระยะห่างระหว่างขอบด้านในซ้ายกับข้อความที่อยู่ในกรอบ*/
  font-family: 'Kanit', sans-serif;  /*การกำหนดรูปแบบข้อความ*/
}
.imgHome{
  margin-top: 100px; /*การกำหนดระยะห่างระหว่างขอบด้านบน */
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
}
.imgContact{
  margin-top: 20px; /*การกำหนดระยะห่างระหว่างขอบด้านบน */
  text-align: center; /* การจัดรูปภาพไว้กึ่งกลาง */
}
.textSelfDefense{
  margin-top: 100px;  /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  font-size: 35px; /*การกำหนดขนาดข้อความ*/
  text-align: center; /*การจัดข้อความไว้กึ่งกลาง*/
  font-family: 'Kodchasan', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.textChoosePic{
  margin-top: 40px;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
}
.textData{
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}
.textCreateSymptom{
  margin-top: 60px; /*การกำหนดระยะห่างระหว่างขอบด้านบน */
  font-size: 25px; /*การกำหนดขนาดข้อความ */
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  font-family: 'Kodchasan', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.btData{
  margin-top: 20px; /*การกำหนดระยะห่างระหว่างขอบด้านบน */
  font-size: 13px; /*การกำหนดขนาดข้อความ */
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  font-family: 'Kanit', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.formDataSet{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  width: 80vw;
}
.formData{
  display: flex; /*การกำหนด display เป็น Flex*/
  flex-direction: column; /*การกำหนดทิศทางในลักษณะ column*/
  margin: 32px; /*การกำหนดระยะห่างบน ล่าง ซ้าย ขวา*/
  padding: 32px; /*การกำหนดระยะห่างระหว่างขอบของด้านในกับข้อความที่อยู่ในกรอบ*/
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  border: 2px solid #b8b8ff; /*การกำหนดขนาดและสีของเส้นกรอบ*/
  font-size: 13px; /*การกำหนดขนาดข้อความ */
  font-family: 'Kanit', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.cardData{
  display: flex;
   flex-direction: column;
   margin: 32px;
   padding: 32px;
   border: 2px solid #abc4ff;
   font-size: 1.4rem;
}
.cardSelfDefense{
  margin-top: 15px; /*การกำหนดระยะห่างระหว่างขอบด้านบน*/
  font-size: 16px; /*การกำหนดขนาดข้อความ*/
  text-align: center; /*การจัดข้อความไว้กึ่งกลาง*/
  font-family: 'Kanit', sans-serif ; /*การกำหนดรูปแบบข้อความ*/
}
.btTextData{
  flex-direction: row; /*การกำหนดการจัดเรียง Flex Item ภายใน Flex Container */
  justify-content: center; /*การกำหนดการจัดเรียงทิศทางตามแกนหลัก*/
  font-size: 13px; /*การกำหนดขนาดข้อความ */
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  font-family: 'Kanit', sans-serif; /*การกำหนดรูปแบบข้อความ*/
}
.textContact{
   margin-top: 100px; /*การกำหนดระยะห่างระหว่างขอบด้านบน */
  font-size: 35px; /*การกำหนดขนาดข้อความ */
  text-align: center; /* การจัดข้อความไว้กึ่งกลาง */
  font-family: 'Kodchasan', sans-serif;
}
.bt5:hover {
  color: rgb(87, 87, 87);
  background-color: rgb(241, 241, 241);
  border: none;
}
@media only screen and (min-width: 768px) {
  .formIP {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .formIP {
    margin-left: 330px;
  }
}