@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');

.header{
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Kanit', sans-serif;
}
.navHome{
  margin-top: 5px;
  text-align:right;
  font-family: 'Kanit', sans-serif;
  margin-right:50px;
}
.navMessage{
  text-align: center;
  margin-top: 120px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
}

.textHead {
  color: rgb(0, 9, 92);
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Kodchasan', sans-serif;

}
.textDistancing{
  text-align: center !important;
  font-family: 'Kanit', sans-serif !important;
  font-size: 18px;

}
.textHeadRegister{
  font-family: 'Kodchasan', sans-serif;
  font-size: 50px;
  margin-top: 100px;
}

.ip1 {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.btRegister{
  background-color:  #2ec4b6;
  margin-top: 30px !important;
  width: 400px !important;
  height: 40px !important;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.btRegister2{
  background-color: #2ec4b6;
  margin-top: 20px !important;
  width: 400px !important;
  height: 40px !important;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

.btlogin{
  color: rgb(0, 0, 0);
  background-color: #90e0ef;
  margin-top: 20px !important;
  width: 400px !important;
  height: 40px !important;
  border: #90e0ef;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.btloginAdmin{
  color: rgb(0, 0, 0);
  background-color: #ffd60a;
  margin-top: 20px !important;
  width: 400px !important;
  height: 40px !important;
  border: #90e0ef;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.btloginNav{
  color: rgb(0, 0, 0);
  background-color: #90e0ef;
  margin-top: 20px !important;
  width: 100px !important;
  height: 20px !important;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}
.textRememberMe{
  padding-right: 290px;
  font-family: 'Kanit', sans-serif;

}
.textOr{
  margin-top: 10px;
  font-family: 'Kanit', sans-serif;
}
.imgHome{
  margin-top: 100px;
  text-align: center;
}
.imgContact{
  margin-top: 20px;
  text-align: center;
}
.textSelfDefense{
  margin-top: 100px;
  font-size: 35px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
}
.textChoosePic{
  margin-top: 40px;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
}
.textData{
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}
.textCreateSymptom{
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
}
.btData{
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
  font-family: 'Kanit', sans-serif; 
}
.formDataSet{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  width: 80vw;
}
.formData{
  display: flex;
  flex-direction: column;
  margin: 32px;
  padding: 32px;
  text-align: center;
  border: 2px solid #b8b8ff;
  font-size: 13px;
  font-family: 'Kanit', sans-serif; 
  

}
.cardData{
  display: flex;
   flex-direction: column;
   margin: 32px;
   padding: 32px;
   border: 2px solid #abc4ff;
   font-size: 1.4rem;
}
.btTextData{
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  font-family: 'Kanit', sans-serif; 
}
.textContact{
   margin-top: 100px;
  font-size: 35px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
}
.formImgSelfDefense{
  margin-top: 15px;
}
.bt5:hover {
  color: rgb(87, 87, 87);
  background-color: rgb(241, 241, 241);
  border: none;
}
@media only screen and (min-width: 768px) {
  .formIP {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .formIP {
    margin-left: 330px;
  }
}